
@page
@model CustomersSite.Pages.Product.ShowProductModel
@*@{
    Layout = "_Layout";
}
*@
<h1 style="font-size= 80"> text</>
@*@{
    if (Model.Products != null)
    {
        foreach (var product in Model.Products)
        {
            <div>
                @product.Title
            </div>
        }

    }
    else
    {
        <h1>null </h1>
    }

    
}*@



